<footer>
    <div class="footer-content">
      <div class="footer-copy">
        <p>&copy;Copyright 2022 | t8kGod.com</p>
      </div>
      <div class="footer-social">
        <p>Follow us on:</p>
        <a href="#" class="btn-social"><i class="fab fa-facebook"></i></a>
        <a href="#" class="btn-social"><i class="fab fa-instagram"></i></a>
        <a href="#" class="btn-social"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </footer>