<nav class="navbar">
    <!-- LOGO -->
    <a href="index.html" class="logo">t8kGod.com</a>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
      <!-- USING CHECKBOX HACK -->
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>
      <!-- NAVIGATION MENUS -->
      <div class="menu">
        <li><a href="articles.html">Articles</a></li>
        <li><a href="devotional.html">Devotional</a></li>
        <li><a href="about.html">About us</a>
        </li>
        <a href="https://www.paypal.com/donate/?hosted_button_id=VWBGFXV5ZJX6E" class="btn">Donate</a>
      </div>
    </ul>
  </nav>
  
